include layout


.header.hd-posts.hd-article
.main.mn-article
	.post-sidebar
		span= (onepost.date.getMonth()+1)+'.'
		span= (onepost.date.getDate())
		div= (onepost.date.getFullYear())
	.post-main
		h1= onepost.title
		p= 'by '+onepost.author
		.article-body
			!= onepost.main
